 <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Github Analytics</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=""><a href="/">Home <span class="sr-only">(current)</span></a></li>
          <li class=""><a href="stars">Stars</a></li>
          <li class=""><a href="forks">Forks</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trending <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="btn-year"><a id="2017" href="/trending/year/2017">2017</a></li>
              <li class="btn-year"><a id="2016" href="/trending/year/2016">2016</a></li>
              <li class="btn-year"><a id="2015" href="/trending/year/2015">2015</a></li>
              <li class="btn-year"><a id="2014" href="/trending/year/2014">2014</a></li>
              <li class="btn-year"><a id="2013" href="/trending/year/2013">2013</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>