<ul class="nav nav-pills">
    <li role="presentation" class=""><a title="all" href="All">All</a></li>
    <li role="presentation" class=""><a title="javascript" href="javascript">Javascript</a></li>
    <li role="presentation" class=""><a title="html" href="html">HTML</a></li>
    <li role="presentation" class=""><a title="css" href="css">CSS</a></li>
    <li role="presentation" class=""><a title="java" href="java">Java</a></li>
    <li role="presentation" class=""><a title="python" href="python">Python</a></li>
    <li role="presentation" class=""><a title="php" href="php">PHP</a></li>
    <li role="presentation" class=""><a title="c" href="c">C</a></li>
    <li role="presentation" class=""><a title="c++" href="cpp">C++</a></li>
    <li role="presentation" class=""><a title="ruby" href="ruby">Ruby</a></li>
    <li role="presentation" class=""><a title="go" href="go">Go</a></li>
    <li role="presentation" class=""><a title="r" href="r">R</a></li>
    <li role="presentation" class=""><a title="sql" href="sql">SQL</a></li>
</ul>