<!DOCTYPE html>
<html lang="en">

<% include ../views/partials/header %>

<body>
  <% include ../views/partials/nav %>
  <div class="container main">
    <div class="jumbotron">
      <h1>Github Analytics</h1>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <form name="search" action="/search" method="post">
      <div class="form-group">
        <input type="text" class="form-control" id="queryString" name="q" placeholder="Search">
      </div>

      <button type="submit" class="btn btn-default col-md-1 col-sm-offset-4">GIT Search</button>
      <button type="submit" class="btn btn-default col-md-2 offset-1">I'm not Feeling Lucky</button>
    </form>
  </div>

<% include ../views/partials/footer %>

<% include ../views/partials/scripts %>

</body>

</html>